@model SurveyResult
@{
    ViewData["Title"] = "Survey";
}

<body>
    <h2>Favorite Park Survey:</h2>
    <div>
        <form asp-controller="Home" asp-action="Survey" method="post">

            <label>Pick Your Favorite Park:</label>
            <select asp-for="ParkCode" asp-items="@SurveyResult.Parks"></select>
            <br />

            <label>State of Residence:</label>
            <select asp-for="State" asp-items="SurveyResult.States"></select>
            <br />

            <label>Email:</label>
            <input asp-for="EmailAddress" />
            <span asp-validation-for="EmailAddress" class="validation-error"></span>
            <br />

            <label>Activity Level:</label>
            <span asp-validation-for="ActivityLevel" class="validation-error"></span>
            <br />

            <input value="Inactive" type="radio" asp-for="ActivityLevel" />
            <label>Inactive</label>
            <br />

            <input value="Sedentary" type="radio" asp-for="ActivityLevel" />
            <label>Sedentary</label>
            <br />

            <input value="Active" type="radio" asp-for="ActivityLevel" />
            <label>Active</label>
            <br />

            <input value="Extremely Active" type="radio" asp-for="ActivityLevel" />
            <label>Extremely Active</label>
            <br />

            <input type="submit" value="Submit" />
        </form>
    </div>

</body>

