/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    --text-color: #334251;
    --link-color: #4f745e;
    --background-color1: #b7a56c;
    --background-color2: #b7a56c;
    --navbar-color: #6d6866;
    --navbar-link-color: #818656;
    padding-bottom: 20px;
    background: linear-gradient(to bottom right, var(--background-color1),var(--background-color2));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-color);
}

    body a {
        color: var(--link-color);
    }

    
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.home-park {
    display: block;
    padding: 10px;
}

.home-park-img {
    display: inline-block;
    padding-right: 15px;
    vertical-align: top;
}

.home-park-img img{
        width: 300px;
        height: auto;
        border-radius: 4px;
    }

.home-park-text {
    display: inline-block;
    max-width: 800px;
    vertical-align: top;
}

hr {
    border-top: 1px solid var(--text-color);
}

.title {
    display: block;
    font-weight: bold;
    font-size: 2em;
    color: black;
    padding-bottom: 10px;
}

.description {
    display: block
}

.weather-big {
    display: inline-block;
    max-width: 250px;
    padding-right: 40px;
    vertical-align: top;
}

.weather-big img {
        width: 200px;
        height: auto;
    }

.weather-big center {
        font-weight: bold;
        font-size: 1.5em;
    }

.weather-small {
    display: inline-block;
    max-width: 200px;
    padding-right: 10px;
    vertical-align: top;
}

.weather-small img {
        width: 150px;
        height: auto;
    }

.weather-small center {
        font-weight: bold;
    }

.validation-error {
    color: red;
    font-weight: bold;
}

.header-img {
    width: 50%;
    vertical-align: top;
}

.detail-img {
    width: 50%;
    border-radius: 4px;
}

.unit-swap a {
    color: var(--link-color);
}

.navbar {
    background: var(--navbar-color);
}

    .navbar a {
        color: var(--navbar-link-color);
    }

.winner{
    font-weight: bold;
    font-size: 4rem;
}

.card {
    width: calc(100% - 30px);
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background: white;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    display: block;
    color: #0a0a0a;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #d6d6d6;
    border-top-color: rgb(214, 214, 214);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(214, 214, 214);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(214, 214, 214);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(214, 214, 214);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: 3px 3px 0px #bababa;
}

.result-wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "result-image result-text";
}

.result-image {
    grid-area: result-image;
}

.result-text {
    grid-area: result-text;
}

.votes {
    font-weight: bold;
}