/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    background: linear-gradient(to bottom right, rgb(0, 121, 57),rgb(0, 179, 73));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #003d34;
}

    body a {
        color: #00787A;
    }
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.home-park {
    display: block;
    padding: 10px;
}

.home-park-img {
    display: inline-block;
    padding-right: 15px;
    vertical-align: top;
}

    .home-park-img img {
        width: 300px;
        height: auto;
        border-radius: 4px;
    }

.home-park-text {
    display: inline-block;
    max-width: 800px;
    vertical-align: top;
}

.title {
    display: block;
    font-weight: bold;
    font-size: 2em;
    color: black;
    padding-bottom: 10px;
}

.description {
    display: block
}

.weather-big {
    display: inline-block;
    max-width: 250px;
    padding-right: 40px;
    vertical-align: top;
}

    .weather-big img {
        width: 200px;
        height: auto;
    }

    .weather-big center {
        font-weight: bold;
        font-size: 1.5em;
    }

.weather-small {
    display: inline-block;
    max-width: 200px;
    padding-right: 10px;
    vertical-align: top;
}

    .weather-small img {
        width: 150px;
        height: auto;
    }

    .weather-small center {
        font-weight: bold;
    }

.validation-error {
    color: red;
    font-weight: bold;
}

.header-img {
    width: 50%;
    vertical-align: top;
}

.detail-img {
    width: 50%;
    border-radius: 4px;
}

.unit-swap a {
    color: #94ebd8;
}

.navbar {
    background: #003d34;
}

    .navbar a {
        color: #94ebd8;
    }
.winner{
    font-weight: bold;
    font-size: 4rem;
}
